.userposts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--blue);
}
.emptyposts {
  width: 100%;
  height: 190px;
  border: 1px dotted #2c3e608c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--blue);
  font-size: 1em;
  opacity: 0.5;
}
.postcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
.postheader {
  width: 100%;
  height: 50px;
  background: #f5f5f56e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  gap: 10px;
  padding: 0 8px 0 12px;
  color: var(--blue);
  p {
    font-weight: 500;
    font-size: 1em;
  }
  button {
    border: none;
    background: linear-gradient(135deg, #ff4d4d, #8e44ad);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9em;
    padding: 8px 10px;
    border-radius: 5px;
  }
}
.id {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    color: var(--yellow);
  }
}
.post {
  width: 100%;
  height: fit-content;
  border-radius: 0 0 5px 5px;
  display: flex;
  color: var(--blue);
  overflow: hidden;
}
.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.3;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
}
.images {
  width: 50%;
  min-width: 50%;
  overflow: hidden;
  background: url("/images/empty-space.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slide {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.postinfo {
  width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 30%;
    border: none;
    background: none;
    color: var(--blue);
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8em;
    text-wrap: nowrap;
    transition: all 0.2s ease-in-out;
    padding: 5px 10px;
    &:hover {
      transform: translateY(-1px);
    }
  }
}
.postcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px;
  overflow: hidden;
  h2 {
    height: 50px;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.3;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    &:hover {
      text-decoration: underline;
    }
  }
}
.solved {
  border: none;
  background: #51e188;
  color: var(--white);
  font-weight: 600;
  font-size: 0.9em;
  padding: 8px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
  color: var(--white);
}
.promoted {
  background: linear-gradient(135deg, #ff4d4d, #8e44ad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1em;
  padding: 0 5px;
}
.promotedinfo {
  width: 100%;
  height: 50px;
  background: #f5f5f56e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 8px 0 12px;
  font-size: 0.85em;
  font-weight: 400;
  color: var(--blue);
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    color: var(--blue);
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    text-wrap: nowrap;
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .post {
    flex-direction: column;
  }
  .images {
    width: 100%;
    min-width: 100%;
  }
}
