.userposts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--blue);
}
.emptyposts {
  width: 100%;
  height: 190px;
  border: 1px dotted #2c3e608c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--blue);
  font-size: 1em;
  opacity: 0.5;
}
.postcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
.postheader {
  width: 100%;
  height: 50px;
  background: #f5f5f56e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  gap: 10px;
  padding: 0 8px 0 12px;
  color: var(--blue);
  p {
    font-weight: 500;
    font-size: 1em;
  }
  button {
    border: none;
    background: #f57a4e;
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9em;
    transition: all 0.2s ease-in-out;
    padding: 8px 10px;
    border-radius: 5px;
    &:hover {
      background-color: #ff4d4d;
    }
  }
}
.id {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    color: var(--yellow);
  }
}
.post {
  width: 100%;
  height: fit-content;
  border-radius: 0 0 5px 5px;
  display: flex;
  color: var(--blue);
  overflow: hidden;
}
.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  opacity: 0.9;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.3;
    opacity: 0.8;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
}
.images {
  width: 50%;
  min-width: 50%;
  overflow: hidden;
  background: url("/images/empty-space.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.slide {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
:global(.swiper-pagination-bullet) {
  background-color: var(--blue) !important;
}
.postinfo {
  width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 30%;
    border: none;
    background: none;
    color: var(--blue);
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8em;
    text-wrap: nowrap;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    padding: 5px 10px;
    &:hover {
      opacity: 1;
    }
  }
}
.postcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px;
  overflow: hidden;
  h2 {
    height: 50px;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.3;
    opacity: 0.8;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
}

@media screen and (max-width: 1200px) {
  .post {
    flex-direction: column;
  }
  .images {
    width: 100%;
    min-width: 100%;
  }
}
