.hero {
  width: clamp(300px, 95%, 1300px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(90px, 7%, 110px);
}
.adcontainer {
  width: 100%;
  height: 120px;
  position: relative;
}
.maincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  h1 {
    font-size: 3em;
    font-weight: 800;
    width: 15ch;
    text-wrap: wrap;
    text-align: center;
    line-height: 1.2;
    color: var(--blue);
  }
  h2 {
    font-size: 1.5em;
    font-weight: 600;
    width: 25ch;
    text-wrap: wrap;
    text-align: center;
    color: var(--blue);
    opacity: 0.7;
  }
}
.countbox {
  margin-top: 15px;
  padding: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  border: 1px solid #2c3e6093;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  span {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--blue);
    opacity: 0.9;
  }
  p {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--blue);
    opacity: 0.8;
  }
  .image {
    width: 35%;
    height: 100px;
    position: absolute;
    top: -42px;
    left: -17px;
  }
}
.input {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  input {
    font-size: 1.2em;
    width: 100%;
    padding: 13px;
    border: 1px solid #2c3e604f;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
  }
  button {
    width: 100%;
    padding: 20px;
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: var(--yellow);
    color: white;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .maincontainer {
    flex-direction: column;
    align-items: none;
    justify-content: none;
    gap: 20px;
  }
  .text {
    width: 100%;
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.28em;
    }
  }
  .countbox {
    width: clamp(200px, 85%, 400px);
    span {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
  .input {
    width: clamp(200px, 100%, 500px);
    padding: 15px;
  }
}
