.hero {
  width: clamp(300px, 95%, 1300px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(90px, 7%, 110px);
}
.adcontainer {
  margin: 0 0 30px 0;
  width: 100%;
  height: 120px;
  position: relative;
  background: rgba(119, 119, 119, 0.1);
}
.maincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  h1 {
    font-size: 3em;
    font-weight: 800;
    width: 15ch;
    text-wrap: wrap;
    text-align: center;
    line-height: 1.2;
    color: var(--blue);
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    width: 25ch;
    text-wrap: wrap;
    text-align: center;
    color: var(--blue);
    opacity: 0.8;
  }
}
.slogan {
  width: clamp(300px, 95%, 500px);
  aspect-ratio: 16/5;
  position: relative;
}
.countbox {
  margin-top: 15px;
  padding: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  box-shadow: rgba(44, 62, 96, 0.4) 0px 0px 5px;
  position: relative;
  span {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--blue);
    opacity: 0.9;
  }
  p {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--blue);
    opacity: 0.8;
  }
  .image {
    width: 35%;
    aspect-ratio: 30/8;
    position: absolute;
    top: -10;
    left: -10;
  }
}
.input {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

@media screen and (max-width: 1200px) {
  .maincontainer {
    flex-direction: column;
    align-items: none;
    justify-content: none;
    gap: 20px;
  }
  .text {
    width: 100%;
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.28em;
    }
  }
  .countbox {
    width: clamp(200px, 85%, 400px);
    span {
      font-size: 2.2em;
    }
    p {
      font-size: 1em;
    }
  }
  .input {
    width: clamp(200px, 100%, 500px);
    padding: 15px;
  }
}
