.successpage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: clamp(300px, 90%, 1300px);
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  h1 {
    font-size: clamp(28px, 5vw, 40px);
    font-weight: 800;
    color: var(--blue);
    text-align: center;
    width: 17ch;
  }
  p {
    font-size: 19px;
    font-weight: 500;
    color: var(--blue);
    opacity: 0.8;
    text-align: center;
    width: 40ch;
  }
  a {
    color: var(--yellow);
    cursor: pointer;
    text-decoration: underline;
  }
  h3 {
    font-size: 17px;
    color: var(--blue);
    opacity: 0.5;
    cursor: pointer;
    text-decoration: underline;
  }
}
.image {
  position: relative;
  width: clamp(100px, 35%, 120px);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 0.5em;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: clamp(300px, 50%, 350px);
  cursor: pointer;
  background: #f57a4e;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 18px 0;
  color: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
  margin: 25px 0 15px 0;
  &:hover {
    background-color: #ff4d4d;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    p {
      width: 25ch;
    }
  }
}
