:root {
  --white: #ffffff;
  --black: #1a1a1a;
  --yellow: #ffd700;
  --blue: #2c3e60;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
  position: relative;
  max-width: 100%;
  background: var(--white);
}
body {
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  touch-action: pan-y;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  outline: none;
}
img {
  object-fit: contain;
  object-position: center;
}
textarea {
  outline: none;
  resize: none;
}
.swiper-pagination-bullet {
  background-color: var(--blue) !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--blue) !important;
}
::-moz-selection {
  background: var(--yellow);
  color: var(--blue);
}

::selection {
  background: var(--yellow);
  color: var(--blue);
}
