.categories {
  width: clamp(300px, 90%, 1300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--blue);
  }
}
.categoriescontainer {
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: clamp(20px, 5%, 25px);
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}
.category {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: clamp(80px, 15vw, 100px);
  aspect-ratio: 1/1.2;
  cursor: pointer;
  .imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #2c3e606c;
    border-radius: 100%;
  }
  .image {
    width: 55%;
    aspect-ratio: 1/1;
    position: relative;
    transition: transform 0.2s ease-in-out;
  }
  .text {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--blue);
    opacity: 0.8;
  }
}
.category:hover .image {
  transform: scale(1.05);
}
.category:hover .imagecontainer {
  border: 1px solid var(--blue);
}
.category:hover .text {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .categories {
    width: clamp(300px, 90%, 600px);
    margin-top: 20px;
  }
  .categoriescontainer {
    flex-wrap: wrap;
    overflow-x: auto;
  }

  .category {
    flex: 0 0 clamp(10%, 90px, 20%);
    max-width: clamp(10%, 90px, 20%);
    box-sizing: border-box;
  }
}
