.section2 {
  width: clamp(300px, 90%, 1300px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5 0px;
  padding: 15px 0;
}
.box {
  width: 50%;
  aspect-ratio: 16/9;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  h2 {
    font-size: 2.9em;
    width: clamp(200px, 90%, 500px);
    font-weight: 800;
    color: var(--blue);
  }
  .button {
    width: clamp(200px, 90%, 500px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f57a4e;
    gap: 10px;
    padding: 17px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.1) 0px 2px 8px 0px;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:active {
      transform: scale(0.93);
    }
    &:hover {
      background-color: #ff4d4d;
    }
  }
}
.info {
  width: 48%;
  box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 8px 0px;
  padding: 40px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.heading {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--blue);
  margin-bottom: 12px;
}
.advantage {
  width: 85%;
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--blue);
  p {
    color: var(--blue);
    font-size: 1em;
    font-weight: 400;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .box {
    width: 100%;
    aspect-ratio: unset;
    gap: 30px;
    padding-left: 0;
    h2 {
      width: 100%;
      font-size: 2.3em;
    }
    .button {
      width: 100%;
    }
  }
  .info {
    width: 100%;
    padding: 30px 17px;
  }
  .heading {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  .advantage {
    width: clamp(200px, 100%, 500px);
  }
}
