.postpage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: clamp(300px, 90%, 1300px);
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: clamp(90px, 7%, 110px);
}
.main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imagecontainer {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title {
  font-size: 1.5em;
  font-weight: 600;
  color: #2b2b2b;
  width: 100%;
}
.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .views {
    color: var(--blue);
    font-size: 1em;
    font-weight: 500;
  }
  .report {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    color: #e03131;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}
.adcontainer {
  width: 100%;
  height: 120px;
  position: relative;
  background: rgba(119, 119, 119, 0.1);
}
.secbutton {
  width: 19%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  p {
    display: none;
    width: 78px;
    font-size: 1.3em;
    font-weight: 600;
  }
}
.large {
  p {
    display: block;
  }
  width: 50%;
}
.contact {
  width: 65%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
  font-size: 1.3em;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }
}
.content {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.author {
  font-size: 1em;
  font-weight: 500;
  color: var(--blue);
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;

  img {
    object-fit: cover;
    border-radius: 50%;
  }
  p {
    text-wrap: nowrap;
  }
  b {
    text-wrap: wrap;
  }
  span {
    text-wrap: nowrap;
  }
  .deleted {
    font-style: italic;
  }
}
.author b:hover {
  text-decoration: underline;
}
.description {
  font-size: 1.1em;
  font-weight: 500;
  color: #2b2b2b;
  line-height: 1.5;
}
.detailbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-weight: 500;
    color: var(--blue);
  }
  font-size: 1em;
  line-height: 1.5;
  padding: 5px 7px;
  border-bottom: 1px solid #ddd;
}
.id {
  font-weight: 600;
  color: var(--blue);
}
.status {
  padding: 4px 8px;
  border-radius: 12px;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.category {
  font-size: 1em;
  font-weight: 500;
  color: var(--blue);
}
.reward {
  font-size: 1em;
  font-weight: 600;
  color: var(--blue);
}
.lastseen {
  font-size: 1em;
  font-weight: 500;
  color: var(--blue);
}
.location {
  font-size: 1em;
  font-weight: 500;
  color: var(--blue);
  max-width: 70%;
}
.commentswrapper {
  width: clamp(300px, 90%, 1300px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  padding: 10px 20px;
  background: #f5f5f56e;
  border-radius: 12px;
  border: 1px solid #f5f5f56e;
  margin-bottom: 110px;
}
.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .commentswrapper {
    padding: 10px;
  }
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .main {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .buttoncontainer {
    gap: 8px;
  }
  .large {
    p {
      display: none;
    }
  }
  .contact {
    width: 70%;
  }
  .secbutton:not(.large) p {
    display: none;
  }
}
