.form {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    height: 50px;
    color: #2b2b2b;
    font-size: 1.2em;
    width: 100%;
    padding: 13px;
    border: 1px solid #2c3e604f;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
  }
  input:disabled {
    background: var(--white);
    opacity: 1;
  }
  input::placeholder {
    color: var(--blue);
    opacity: 0.7;
  }
  button {
    width: 100%;
    padding: 17px;
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: var(--yellow);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: #f57a4e;
  }
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputbox {
  width: 100%;
  position: relative;
  .icon {
    position: absolute;
    top: 12px;
    left: 8px;
    opacity: 0.7;
  }
  .clear {
    position: absolute;
    top: 14px;
    font-size: 1em;
    color: var(--blue);
    cursor: pointer;
    &:hover {
      color: #ff4444;
    }
  }
}
.select_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 102px;
}
.select {
  width: 100%;
  height: 100%;
  border-left: 1px solid #2c3e604f;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  color: var(--blue, #2c3e60);
  span {
    font-size: 0.72em;
    opacity: 0.8;
    margin-left: 3px;
  }
  .selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    p {
      width: 100%;
      text-align: center;
    }
  }
  .options {
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    background: var(--white);
    overflow-y: auto;
    z-index: 200;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    li {
      padding: 10px;
      transition: background-color 0.1s ease, color 0.1s ease;
      &.selectedoption {
        background: rgba(44, 62, 96, 0.1);

        font-weight: 500;
      }
      &:hover {
        background: #f5f5f5;
      }
    }
  }
}
.suggestionlist {
  position: absolute;
  top: 50px;
  background: var(--white);
  color: var(--blue);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  li {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }
}
.suggestionlist.hidden {
  display: none;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
