.resetpassword {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.container {
  width: clamp(300px, 95%, 1300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  h1 {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--blue);
  }
}
.form {
  width: clamp(300px, 90%, 1300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  button {
    width: clamp(200px, 100%, 400px);
    padding: 13px;
    border: none;
    border-radius: 5px;
    background: var(--yellow);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    color: var(--white);
    font-size: 1.1em;
    opacity: 0.85;
    cursor: pointer;
  }
}
.inputbox {
  width: clamp(200px, 100%, 400px);
  position: relative;
  img {
    position: absolute;
    top: 12px;
    left: 7px;
    opacity: 0.8;
  }
  input {
    width: 100%;
    padding: 13px 0 13px 40px;
    border: 1px solid #2c3e604f;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: var(--black);
    font-weight: 500;
    font-size: 1.1em;
  }
  input::placeholder {
    color: var(--blue);
    opacity: 0.8;
  }
  .error {
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
  .errormessage {
    position: absolute;
    top: -16;
    left: 10;
    color: rgba(255, 0, 0, 0.7);
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px 0 0 0;
    padding: 0 5px;
    background: white;
  }
}
.errorgeneral {
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: rgba(255, 0, 0, 0.7);
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
