.joincrew {
  width: clamp(300px, 90%, 1300px);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.image {
  width: 50%;
  aspect-ratio: 16/9;
  position: relative;
}
.box {
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.1) 0px 2px 8px 0px;
  position: relative;
  width: 48%;
  height: fit-content;
  background: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  overflow: hidden;
  padding: 30px;
  h3 {
    font-size: 1em;
    font-weight: 400;
    color: var(--blue);
    line-height: 1.4;
  }
}
.buttonbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin-top: 20px;
    width: 100%;
    padding: 17px;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: var(--yellow);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      background: var(--white);
      border-radius: 5px;
      margin-left: 10px;
    }
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: #f57a4e;
  }
}

@media (max-width: 1200px) {
  .joincrew {
    flex-direction: column;
    margin: 0;
    padding: 10px 0;
  }
  .image {
    width: 100%;
  }
  .box {
    width: 100%;
    padding: 17px;
  }
}
