.swiperContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;

  --swiper-navigation-opacity: 0;
  --swiper-pagination-opacity: 0;
}

.swiperContainer {
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    opacity: var(--swiper-navigation-opacity);
    transition: opacity 0.3s ease;
  }
  :global(.swiper-button-disabled) {
    opacity: calc(var(--swiper-navigation-opacity) - 0.7) !important;
  }

  :global(.swiper-pagination) {
    opacity: var(--swiper-pagination-opacity);
    transition: opacity 0.3s ease;
  }
}
