.profile {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.container {
  width: clamp(300px, 100%, 1300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.background {
  width: 100%;
  height: 200px;
  background: url("/images/user_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  position: relative;
  .content_items {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    position: absolute;
    top: -35px;
    left: 5%;
  }
  .image {
    width: clamp(100px, 10%, 130px);
    aspect-ratio: 1/1;
    position: relative;
    img {
      border-radius: 10px;
    }
  }
  .name {
    height: 80px;
    display: flex;
    align-items: center;
    width: 17ch;
    font-size: 2em;
    font-weight: 500;
    color: var(--blue);
    text-wrap: wrap;
  }
}
.info {
  width: 100%;
  padding: 110px 5% 0 5%;
  font-size: clamp(1em, 2vw, 1.2em);
  font-weight: 500;
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
  .id {
    color: var(--blue);
    opacity: 0.8;
    font-weight: 600;
    padding: 3px 10px;
    border: 1px solid #2c3e604f;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    &:hover .tooltip {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  .tooltip {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--yellow);
    color: #fff;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 0.7rem;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
    z-index: 10;
  }
}
.membersince {
  width: 100%;
  padding: 10px 5%;
  font-size: 1em;
  font-weight: 500;
  color: var(--blue);
  opacity: 0.8;
}
.buttoncontainer {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f57a4e;
  color: var(--white);
  opacity: 0.9;
  border: 1px solid #f57a4e;
  font-size: 16px;
  font-weight: 600;
  text-wrap: nowrap;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  img {
    margin-right: 7px;
  }
}
.posts_and_settings {
  position: absolute;
  top: 200px;
  right: 0;
  width: 800px;
  height: 1000px;
  margin-bottom: 50px;
  background: red;
}
@media screen and (max-width: 1200px) {
  .content {
    .name {
      font-size: 1.5em;
      height: 60px;
    }
  }
  .info {
    padding: 80px 5% 0 5%;
  }
  .posts_and_settings {
    position: relative;
    top: 0;
    right: 0;
    width: clamp(200px, 100%, 1200px);
    padding: 0 5%;
  }
}
