.profile {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.container {
  width: clamp(300px, 100%, 1300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.background {
  width: 100%;
  height: 200px;
  background: url("/images/user_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  position: relative;
  .content_items {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    position: absolute;
    top: -35px;
    left: 5%;
  }
  .image {
    width: clamp(100px, 10%, 130px);
    aspect-ratio: 1/1;
    position: relative;
    img {
      border-radius: 10px;
    }
  }
  .name {
    height: 80px;
    display: flex;
    align-items: center;
    width: 17ch;
    font-size: 2em;
    font-weight: 500;
    color: var(--blue);
    text-wrap: wrap;
  }
}
.info {
  width: 100%;
  padding: 110px 5% 0 5%;
  font-size: clamp(1em, 2vw, 1.2em);
  font-weight: 500;
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
  .id {
    color: var(--blue);
    opacity: 0.8;
    font-weight: 600;
    padding: 3px 10px;
    border: 1px solid #2c3e604f;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    &:hover .tooltip {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
  .tooltip {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--yellow);
    color: #fff;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 0.7rem;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
    z-index: 10;
  }
}
.membersince {
  width: 100%;
  padding: 10px 5%;
  font-size: 1em;
  font-weight: 500;
  color: var(--blue);
  opacity: 0.8;
}
.buttoncontainer {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f57a4e;
  color: var(--white);
  opacity: 0.9;
  border: 1px solid #f57a4e;
  font-size: 16px;
  font-weight: 600;
  text-wrap: nowrap;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  img {
    margin-right: 7px;
  }
}
.posts_and_settings {
  position: absolute;
  top: 200px;
  right: 0;
  width: 800px;
  height: fit-content;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}
.menu {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 1.1em;
    padding: 0 5px;
    font-weight: 500;
    color: var(--blue);
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  .active {
    border-bottom: 2px solid var(--blue);
    opacity: 1;
  }
}
.settings_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 12px;
  // border: 1px solid #2c3e608c;
  // border-radius: 5px;
  color: var(--blue);
  font-size: 1.1em;
  opacity: 0.85;
}
.settingstext {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.settingsform {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0 10px 0;
  color: var(--blue);
  font-size: 1.1em;
  input {
    width: 100%;
    padding: 9px 10px;
    border: 1px solid #2c3e604f;
    border-radius: 5px;
    color: var(--black);
    font-weight: 500;
    font-size: 0.9em;
  }
  button {
    width: 100%;
    cursor: pointer;
    background: var(--blue);
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 9px;
    font-weight: 500;
    color: var(--white);
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  position: relative;
}
.inputbox {
  width: 100%;
  position: relative;
  .error {
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
  .errormessage {
    position: absolute;
    top: -16;
    left: 10;
    color: rgba(255, 0, 0, 0.7);
    font-size: 0.7em;
    font-weight: 600;
    text-wrap: nowrap;
    margin: 5px 0 0 0;
    padding: 0 5px;
    background: white;
  }
}
.errorgeneral {
  width: 100%;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: rgba(255, 0, 0, 0.7);
}
.settingsform.active {
  display: flex;
}
.deletewarning {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(255, 0, 0, 0.7);
  font-size: 0.8em;
  font-weight: 500;
  margin: 10px 0;
  background: white;
  h3 {
    font-size: 1.4em;
    font-weight: 600;
  }
}
.checkboxcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.checkboxlabel {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  input {
    width: 5%;
    cursor: pointer;
  }
  p {
    font-size: 0.7em;
    font-weight: 500;
    color: var(--blue);
    opacity: 0.8;
    width: 95%;
  }
}
.emptyposts {
  width: 100%;
  height: 190px;
  border: 1px dotted #2c3e608c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--blue);
  font-size: 1em;
  opacity: 0.5;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 1200px) {
  .content {
    .name {
      font-size: 1.5em;
      height: 60px;
    }
  }
  .info {
    padding: 80px 5% 0 5%;
  }
  .posts_and_settings {
    position: relative;
    top: 0;
    right: 0;
    width: clamp(200px, 100%, 1200px);
  }
  .emptyposts {
    height: 150px;
  }
}
