.anunturipromovate {
  width: clamp(300px, 90%, 1300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.anunturi {
  min-height: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.anunt {
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.noPostsMessage {
  padding: 2rem;
  text-align: center;
  color: #6c757d;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .anunt {
    width: clamp(300px, 48%, 450px);
  }
}
@media screen and (max-width: 600px) {
  .anunt {
    width: clamp(300px, 100%, 400px);
  }
}
