.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  color: black;
}
.login_form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  margin: 100px 0;
  h1 {
    width: clamp(200px, 70%, 500px);
    font-size: 2.9em;
    font-weight: 800;
    color: var(--blue);
    margin-bottom: 5px;
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  position: relative;
  button {
    width: clamp(200px, 70%, 500px);
    padding: 17px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
  }
  p {
    width: clamp(200px, 70%, 500px);
    font-size: 1em;
    font-weight: 600;
    color: var(--blue);
    opacity: 0.9;
    text-decoration: underline;
    cursor: pointer;
  }
}
.inputbox {
  width: clamp(200px, 70%, 500px);
  position: relative;
  img {
    position: absolute;
    top: 12px;
    left: 7px;
    opacity: 0.8;
  }
  input {
    width: 100%;
    padding: 13px 0 13px 40px;
    border: 1px solid #2c3e604f;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 1.1em;
  }
  input::placeholder {
    color: var(--blue);
    opacity: 0.7;
  }
  .error {
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
  .errormessage {
    position: absolute;
    top: -16;
    left: 10;
    color: rgba(255, 0, 0, 0.7);
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px 0 0 0;
    padding: 0 5px;
    background: white;
  }
}
.forgot_password_div {
  width: clamp(200px, 70%, 500px);
  display: flex;
  flex-direction: column;
}
.errorgeneral {
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: rgba(255, 0, 0, 0.7);
}
.login_options {
  width: clamp(200px, 70%, 500px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  p {
    text-wrap: nowrap;
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
    color: var(--blue);
  }
  hr {
    width: 100%;
    border: 1px solid #2c3e604f;
  }
}
.social_login {
  width: clamp(200px, 70%, 500px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .social {
    cursor: pointer;
    width: 48%;
    border: 1px solid #2c3e604f;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blue);
  }
}
.signup {
  width: clamp(200px, 70%, 500px);
  margin: 15px 0;
  font-size: 1em;
  font-weight: 500;
  color: #2c3e60d3;
  .signup_link {
    margin: 0 0 0 5px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--blue);
    font-weight: 600;
  }
}
.login_image {
  background: red;
  height: 100vh;
  aspect-ratio: 1/1;
  position: relative;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 1300px) or (max-height: 700px) {
  .container {
    padding-top: 100px;
    align-items: flex-start;
  }
  .login_image {
    display: none;
  }
  .login_form {
    width: 100vw;
    margin: 0;
    h1 {
      width: clamp(200px, 87%, 500px);
      font-size: 2.5em;
    }
  }
  .form {
    .inputbox {
      width: clamp(200px, 87%, 500px);
    }
    button {
      width: clamp(200px, 87%, 500px);
    }
    p {
      width: clamp(200px, 87%, 500px);
    }
  }
  .forgot_password_div {
    width: clamp(200px, 87%, 500px);
  }
  .login_options {
    width: clamp(200px, 87%, 500px);
  }
  .social_login {
    width: clamp(200px, 87%, 500px);
    .social {
      gap: 12px;
      font-size: 1.1em;
    }
  }
  .signup {
    width: clamp(200px, 87%, 500px);
  }
}
