.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.box {
  display: flex;
  align-items: center;
  gap: 7px;
  img {
    cursor: pointer;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #f57a4e;
  opacity: 0.9;
  border: 2px solid #f57a4e;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  span {
    margin-right: 5px;
    font-size: 21px;
  }
}
.button:hover {
  background-color: #f57a4e;
  color: white;
}
.button:active {
  transform: scale(0.93);
}
