.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: var(--white);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0;
}
.box {
  display: flex;
  align-items: center;
  gap: 0px;
  img {
    cursor: pointer;
  }
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .menu {
    display: none;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #f57a4e;
  opacity: 0.9;
  border: 2px solid #f57a4e;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
  margin: 0 10px 0 20px;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  span {
    margin-right: 5px;
    font-size: 21px;
  }
}
.button:hover {
  background-color: #f57a4e;
  color: white;
}
.button:active {
  transform: scale(0.93);
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: var(--blue);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-1.5px);
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger svg {
  height: 4em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--blue);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linetopbottom {
  stroke-dasharray: 12 63;
}

.hamburger.active svg {
  transform: rotate(-45deg);
}

.hamburger.active svg .linetopbottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.extendedmenu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0;
  height: fit-content;
  max-height: 0;
  margin: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease, padding 0.3s ease;

  .menuitem {
    width: 100%;
    display: none;
    justify-content: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    .link {
      font-size: 20px;
      gap: 9px;
      text-wrap: nowrap;
    }
  }

  &.open {
    max-height: 2000px;
    opacity: 1;
    padding: 25px 0;
    border-radius: 0 0 15px 15px;

    .menuitem {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media screen and (min-width: 1300px) {
  .extendedmenu {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .overlay {
    padding: 0 10px 0 3px;
  }
  .links {
    display: none;
  }
  .box {
    .menu {
      display: block;
    }
  }
  .hamburger {
    display: block;
  }
}
