.forgotpassword {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.form {
  width: clamp(300px, 90%, 1300px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  h1 {
    width: clamp(200px, 90%, 500px);
    font-size: 2.5em;
    font-weight: 800;
    color: var(--blue);
  }
  p {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--blue);
    opacity: 0.8;
    line-height: 1.5;
  }
  button {
    padding: 12px 30px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: var(--black);
    font-weight: 600;
    font-size: 1.1em;
    background: var(--yellow);
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:active {
      transform: scale(0.93);
    }
  }
  .inputbox {
    width: clamp(200px, 90%, 500px);
    position: relative;
    img {
      position: absolute;
      top: 12px;
      left: 7px;
      opacity: 0.8;
    }
    input {
      width: 100%;
      padding: 13px 0 13px 40px;
      border: 1px solid #2c3e604f;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      color: #2b2b2b;
      font-weight: 500;
      font-size: 1.1em;
    }
    input::placeholder {
      color: var(--blue);
      opacity: 0.7;
    }
  }
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 1200px) {
  .form {
    h1 {
      font-size: 2.2em;
    }
    p {
      font-size: 1.1em;
    }
  }
}
